x64
.vs
./mymath2/x64

commit_message.txt
./otcheti/otchet1.log
./otcheti/otchet1.aux
./otcheti/otchet1.out
./otcheti/otchet1.toc
./otcheti/otchet1.synctex.gz
./otcheti/otchet1.pdf

./otcheti/otchet2.log
./otcheti/otchet2.aux
./otcheti/otchet2.out
./otcheti/otchet2.toc
./otcheti/otchet2.synctex.gz
./otcheti/otchet2.pdf

style/