x64
.vs
./mymath2/x64

commit_message.txt
./otcheti/otchet1.log
./otcheti/otchet1.aux
./otcheti/otchet1.out
./otcheti/otchet1.toc
./otcheti/otchet1.synctex.gz
./otcheti/otchet1.pdf

otcheti/otchet2.aux
otcheti/otchet2.log
otcheti/otchet2.pdf
otcheti/otchet2.synctex.gz
otcheti/otchet2.toc

otcheti/otchet3.aux
otcheti/otchet3.log
otcheti/otchet3.pdf
otcheti/otchet3.synctex.gz
otcheti/otchet3.toc

otcheti/otchet4.aux
otcheti/otchet4.log
otcheti/otchet4.pdf
otcheti/otchet4.synctex.gz
otcheti/otchet4.toc

otcheti/otchet5.aux
otcheti/otchet5.log
otcheti/otchet5.pdf
otcheti/otchet5.synctex.gz
otcheti/otchet5.toc


"./otcheti 2/otchet1.log"
"./otcheti 2/otchet1.aux"
"./otcheti 2/otchet1.out"
"./otcheti 2/otchet1.toc"
"./otcheti 2/otchet1.synctex.gz"
"./otcheti 2/otchet1.pdf"

"./otcheti 2/otchet2.aux"
"./otcheti 2/otchet2.log"
"./otcheti 2/otchet2.pdf"
"./otcheti 2/otchet2.synctex.gz"
"./otcheti 2/otchet2.toc"

"./otcheti 2/otchet3.aux"
"./otcheti 2/otchet3.log"
"./otcheti 2/otchet3.pdf"
"./otcheti 2/otchet3.synctex.gz"
"./otcheti 2/otchet3.toc"


style/